<footer class=" yekan  flex flex-col border-t border-neutral-600 bg-gray-900">
    <div class="flex justify-between p-6">
      <div class="flex flex-col gap-4">
        <div class="text-[2rem] text-white font-bold">
          <h2>شبکه های اجتماعی</h2>
        </div>
        <div class="flex gap-4 justify-center items-center">
          <img src="assets/socials/instagram.png" class="w-[2rem]">
          <img src="assets/socials/Telegram.png" class="w-[2rem]">
          <img src="assets/socials/Facebook.png" class="w-[2rem]">
          <img src="assets/socials/Whatsapp.png" class="w-[2rem]">
        </div>
      </div>
      <div class="flex flex-col gap-4 items-center">
        <div class="text-[2rem] text-white font-bold">
          <h2>آدرس ما</h2>
        </div>
        <div class="flex flex-col items-center gap-4 justify-center text-white">
          <p>ایران , کرمان , سیرجان</p>
          <p>خیابان خبرنگار , فست فود آرین</p>
        </div>
      </div>
      <div class="flex flex-col gap-4 items-center">
        <div class="text-[2rem] text-white font-bold">
          <h2>تماس با ما</h2>
        </div>
        <div class="flex flex-col items-center gap-4 justify-center text-white">
          <p>Arianrestaurant&#64;info.com : ایمیل </p>
          <p>تلفن : 03463435125 </p>

        </div>
      </div>
    </div>
  <hr class="border-gray-700 mt-5" >
  <div class="flex justify-center items-center  p-6">
    <h1 class="yekan text-gray-500 text-[0.9rem]"> ساخته شده توسط آرین</h1>
  </div>
</footer>

